<div class="container">

	<h1 class="orders-finish-content">
		<b>ご購入ありがとうございました！</b>
	</h1>

	<div class="finish-image">
		<%= image_tag 'order/pancake.jpg', class: "finish-image-detail" %>
	</div>

</div>