// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
	position: relative;
	overflow: hidden;
}

.top-images {
	margin: 0 auto 30px;
}

.strawberry_cake {
	background-image: url(top/strawberry_cake.jpg);
	background-position: center;
}

.macaroons {
	background-image: url(top/macaroons.jpg);
	background-position: center;
}

.cookie {
	background-image: url(top/cookie.jpg);
	background-position: center;
}

.welcome-message {
	font-size: 20px;
	padding: 15px;
	border-radius: 20px;
	float: left;
	background-color: #fffc9957;
	position: absolute;
	top: 40px;
	left: 60px;
	z-index: 10;
}

.top-title {
	margin-bottom: 0;
	padding: 5px 0;
	text-align: center;
	color: #fff;
	background-color: #eca136c7;
	border-radius: 20px 20px 0 0;
}

.search-genre, .recommend-goods {
	border: 2px solid #eca136c7;
	background-color: #fff;
	font-size: 20px;
	border-radius: 0 0 20px 20px;
}

.search-genre-content {
	margin: 10px 0 10px 20px;
	color: #7b5115;
}

.about-title {
	text-align: center;
}

.about-title-content {
	display: inline-block;
	padding: 5px 30px;
	margin: 0 auto;
	color: #fff;
	background-color: #eca136c7;
	border-radius: 10px;
}

.about-content {
	text-align: center;
}

.about-content-detail {
	display: inline-block;
	font-size: 20px;
	background-color: #fff;
	border: 2px solid #eca136c7;
	border-radius: 20px;
	margin: 5px auto;
	padding: 10px 30px;
}

.about-image {
	width: 80%;
	height: auto;
	margin: 20px auto;
}

.about-image-detail {
	width: 100%;
	height: 450px;
	object-fit: cover;
}