// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-images {
	margin: 0 auto 30px;
	width: 90%;
	height: 500px;
}

.strawberry_cake {
	background-image: url(top/strawberry_cake.jpg);
	height: 100%;
}

.macaroons {
	background-image: url(top/macaroons.jpg);
	height: 100%;
}

.cupcake {
	background-image: url(top/cupcake.jpg);
	height: 100%;
}