// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-title {
	margin-bottom: 0;
	padding: 5px 0;
	text-align: center;
	color: #fff;
	background-color: #eca136c7;
	border-radius: 20px 20px 0 0;
}

.products-goods {
	border: 2px solid #eca136c7;
	border-radius: 0 0 20px 20px;
	background-color: #fff;
	font-size: 20px;
	padding: 0 20px;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
}

.card {
	text-align: center;
	padding: 0;
	margin: 10px -5px;
	border-radius: 15px;
	background-color: #ffffb8;
    border: 1px solid brown;
    overflow: hidden;
}

.card-image {
	width: 100%;
}

.card-body {
	padding: 10px 0;
}

.products-image:nth-of-type(1) {
	width: 25%;
    height: 210px;
    position: absolute;
    bottom: 20px;
    left: 25%;
    z-index: -1;
}

.products-image:nth-of-type(2) {
	width: 23%;
    position: absolute;
    bottom: 20px;
    right: 27%;
    z-index: -1;
}

.products-image:nth-of-type(3) {
	width: 22%;
    height: 205px;
    position: absolute;
    bottom: 20px;
    right: 2%;
    z-index: -1;
}

.new_product_button {
	display: flex;
	justify-content: flex-end;
}

.new_product_button .fas {
	height: auto;
	text-decoration: none;
}

.product-show-content {
	margin: 20px auto;
	padding: 50px 20px;
	border: 2px solid #eca136c7;
	background-color: #fff;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.product-image {
	width: 100%;
}

.product-show-introduction {
	font-size: 15px;
}

.go-to-cart,
.product-show-already,
.product-show-notyet {
    position: absolute;
    bottom: 25px;
    right: 50px;
}

.product-quantity {
	width: 100px;
	height: 33px;
}

.product-show-already,
.product-show-notyet {
	padding: 5px 30px;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background-color: #d68a00;
}


