// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-title {
	margin-bottom: 0;
	padding: 5px 0;
	text-align: center;
	color: #fff;
	background-color: #eca136c7;
}

.products-goods {
	border: 2px solid #eca136c7;
	background-color: #fff;
	font-size: 20px;
}